<section class="bg-dark" id="banner">
    <img src="../images/banner.png" alt="Banner">
</section>
<section class="container-fluid d-flex hr bg-dark" id="about">
    <div class="aboutContainers">
        <picture class="position-relative">
            <img src="../images/Based_Patrick_Bateman.webp" alt="Profile Picture" class="img-thumbnail rounded-circle">
        </picture>
        <div class="position-relative ms-4">
            <h2>Omar Flores</h2>
            <h3>Full Stack Developer Jr.</h3>
        </div>
    </div>
    <div class="aboutContainers">
        <h2 class="text-center display-4 mb-4">Sobre Mí</h2>
        <p class="lead text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem quasi nam ipsa ea sint voluptas doloremque atque, reprehenderit delectus consectetur! Animi aliquid commodi saepe. Consequuntur quisquam repellendus omnis nostrum distinctio.</p>
    </div>
</section>
