<section class="container-fluid d-flex flex-column hr bg-dark" id="experience">
    <h2 class="my-5 ms-4 display-4">Experiencia Laboral</h2>
    <article class="container-fluid d-flex justify-content-between">
        <picture>
            <img src="../images/trabajo.webp" alt="Foto Empresa" class="img-fluid">
        </picture>
        <div>
            <h3 >Nombre de la empresa</h3>
            <h4>Desde: 06/19  Hasta: 08/21</h4>
            <p class="align-text-start lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat laudantium laboriosam deleniti! Voluptatibus deleniti blanditiis cum nostrum tempora? Dolores maxime possimus soluta in! Cum laborum sed mollitia itaque dolores cupiditate.</p>
        </div> 
    </article>
</section>
<section class="container-fluid d-flex flex-column hr bg-dark" id="education">
    <h2 class="my-5 ms-4 display-4">Educación</h2>
    <article class="container-fluid d-flex justify-content-between">
        <picture>
            <img src="../images/uba.png" alt="Foto Empresa" class="img-fluid">
        </picture>
        <div>
            <h3 >Nombre de la institución</h3>
            <h4>Desde: 06/19  Hasta: 08/21</h4>
            <p class="align-text-start lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat laudantium laboriosam deleniti! Voluptatibus deleniti blanditiis cum nostrum tempora? Dolores maxime possimus soluta in! Cum laborum sed mollitia itaque dolores cupiditate.</p>
        </div> 
    </article>
</section>